@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
:root{
    --primary-color: #ebebeb;
    --secundary-color: #03dac6;
    --hover-color: #f75f01;
    --nav-color: #131313;
    --background-color: #131313;
    --degradado: linear-gradient(45deg, rgb(255, 115, 0), rgb(205, 53, 53), rgb(204, 112, 7));
    --degradado2:linear-gradient(135deg, #f75f01, #FF5F6D);
    --degradado3: linear-gradient(45deg, #f75f01, #4005e4, #f75f01, #4005e4);
    --border-radius: 8px;
    --transition-duration: 0.3s;
}

/* COLORES AZUL MARINO
:root{
    --primary-color: #fcfcfc;
    --secundary-color: #03dac6;
    --hover-color: #d48700f5;
    --nav-color: #00004f;
    --background-color: #00003a;
    --degradado: linear-gradient(45deg, #f06, #3cf, #f06);
    --degradado2:linear-gradient(135deg, #FFC371, #FF5F6D);
    --border-radius: 8px;
    --transition-duration: 0.3s;
}*/

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--primary-color);
    background: var(--background-color);
}

body {
    padding-top: 80px;
}

body::selection{
    background: var(--hover-color);
    color: var(--nav-color);
}

.skip-link {
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background-image: var(--degradado);
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
    transition: opacity 0.3s ease;
}

.skip-link:focus {
    opacity: 1;
    pointer-events: auto;
}


nav {
    background-color: var(--nav-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2); /
}

nav ul {
    list-style: none;
    display: flex;   
    margin: 0 10%; 
    
}

nav li{
    display: flex;
    z-index: 1000;
    text-align: center;

}

nav .logo {
    margin-right: auto;
    font-size: 1.7rem;
    font-weight: bold;
    background-image: var(--degradado2);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    opacity: 0;
    animation: slideTop 1s ease forwards 0.3s;

}

.logomobile{
        display: none;
    }

nav a {
    display: flex;
    align-items: center; 
    justify-content: center;   
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: 1rem 2rem;
    transition: background-color 500ms ease;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: calc(0.2s * var(--i));

}

nav a:not(.logo):not(.contact):hover {
    background-color: var(--hover-color);
}

nav a.active-link{
    border-bottom: 2px solid var(--primary-color);
    
}

#a{
    background-color: rgba(0, 123, 255, 0.984);
    position: relative;
    padding: 10px 25px;
    border-radius: 25px;
    transition: background-color 500ms ease;
}

#a:hover{
    background-color: var(--hover-color);
}


#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-right: 20px;
    margin-left: auto;
    cursor: pointer;
    z-index: 101;
    opacity: 0;
    animation: slideTop 1s ease forwards 0.3s;
}

#close-sidebar-button{
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
    display: none;
}

#overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    inset: 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s;
}


.description{
    width: 100%;
    align-items: center;
    padding: 70px 10%;
    display: flex;
    flex-wrap: wrap-reverse;
    height: 100vh;
    justify-content: center;  
}

.description-text{
        max-width: 700px;  
        margin-right: 5vw;        
}


.description h1{
    font-size: 3.5rem;
    font-weight: bold;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 0.4s;
}


.description-text h2{
    margin-top: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    background-image: var(--degradado);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.6s;
}

.description-text p{
    margin-top: 1.5rem;
    font-size: 1.3rem;
    line-height: 1.5;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.7s;    
}

.contact-button{
    margin-top: 70px;
    width: 180px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    background-image: var(--degradado);
    background-position: 0 0;
    background-size: 200%;
    color: var(--degradado);
    display: inline-flex;
    border-radius: 40px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    transition: 500ms ease, color 500ms ease;
    position: relative;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.6s;
}


.contact-button:hover{
    background-position: 100% 0;
    color: var(--nav-color);
}

.contact-button::after{
    filter: blur(5px);

}

.contact-button::before {
    content: ''; 
    position: absolute; 
    inset: 0; 
    background-image: var(--degradado);
    filter: blur(10px);
    z-index: -1; 
    border-radius: inherit; 
}


.social-1 a{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--degradado);
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff; 
    margin: 20px 0;
    z-index: 1;
    margin-right: 50px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 0.6s;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.5s;
}




.social-1 :nth-child(2){
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.5s;
}

.social-1 :nth-child(3){
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
}

.social-1 a::before{
    content: "";
    position: absolute;
    background: var(--degradado);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: transform 0.3s ease;
  }


  .social-1 a:hover::before {
    filter: blur(7px);
  }


.social-1 a::after {
    content: "";
    position: absolute;
    background: var(--background-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transform: scale(.88);
    z-index: -1;
    transition: transform 0.3s ease;
  }


  .social-1 a:hover::after {
    transform: scale(0);
  }



.home-img{
    position: relative;
    width: 410px;
    height: 410px;
    opacity: 0;
    animation: zoomIn 1s ease forwards;
    animation-delay: 1s;
    
    
}

.home-img .glowing-circle{
    width: 100%;;
    height: 100%;
    border-radius: 50%;
    background: var(--degradado2);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
}

.home-img .glowing-circle::after{
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    background-color: var(--background-color);
}


.glowing-circle .image{
    position: relative;
    width: 380px;
    height: 380px;  
    z-index: 1;
    border-radius: 50%;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: -75px;
    left: 10px;
    width: 350px;
    object-fit: cover;
    transform: translateX (-50%);
    max-width: 350px;
    
}

.glowing-circle span{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--degradado2);
    
}



.glowing-circle span:nth-child(1){
    filter: blur(20px);
    animation: rotate 6s linear infinite;
    
}


.about-me{
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.3rem;
    line-height: 1.5;
}

.about-me h2{
    margin-top: 10vh;
    margin-bottom: 1rem;
    font-size: 2rem;
    font-weight: bold;
    background-image: var(--degradado);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
}

.about-me ul{
    margin-top: 2rem;
    padding-left: 20px;
    margin-left: 50px;
}

.about-me p{
    margin-left: 50px;
    margin-right: 50px;

}

#portfolio{
    margin-bottom: 100px;
    margin-top: 100px;
}


.portfolio-grid{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2%;
}

.card{
    background-color: var(--nav-color);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    margin-right: 5vw;
    margin-left: 5vw;
    box-shadow: 0 2px 5px rgba(0,0,0,0.9); 
    position: relative;
}

.card::before{
    content: '';
    position: absolute;
    inset: -3px;
    filter: blur(15px);
    z-index: -1;
    background: var(--degradado3);
    animation: 
        breathingGlow 3s ease-in-out infinite alternate,
        gradientMove 10s linear infinite;
    background-size: 300% 300%;
    will-change: background-position, opacity, transform;
}


.grid-container > :nth-child(1)::before { 
    animation-delay: -0.3s; 
}

.grid-container > :nth-child(2)::before { 
    animation-delay: -1.9s; 
}

.grid-container > :nth-child(3)::before { 
    animation-delay: -2.7s; 
}

.grid-container > :nth-child(4)::before { 
    animation-delay: -0.3s; 
}



.grid-container{
    display: grid;
    max-width: 2000px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 160px 10px 10px 160px 150px;
    justify-content: center;    
    gap: 4vw 0;
    grid-template-areas: 
    "box-1 box-1 box-3 box-3"
    "box-1 box-1 box-3 box-3"
    "box-1 box-1 box-4 box-4"
    "box-1 box-1 box-4 box-4"
    "box-2 box-2 box-4 box-4"
    "box-2 box-2 box-4 box-4";
    height: auto;
}



.card-image-jpg{
    object-fit: cover;
    object-position: top center;
    overflow: hidden; 
    width: 100%;        
    border-radius: 30px;
}

.card-2 img, .card-3 img, .card-4 img{
    object-position: center;
}


.card-title{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 40px 20px 0 20px;
    color: var(--background-color);
    flex-shrink: 0;
    font-style: italic;
    background: linear-gradient(0deg, #f75f0170 20%, transparent);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);

}

.card-title::first-letter{
    background-image: var(--degradado2);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
}

.card-description{
    font-size: 1rem;
    padding-left: 30px;
    padding-bottom: 45px; 
    color: var(--primary-color);
    overflow: hidden;
    background-color: #f75f0170;
    border-radius: 0 0 30px 30px;
    color: var(--background-color);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    
}

.contact-info h2{
    margin-top: 10rem;
    margin-bottom: 5rem;
    font-size: 2rem;
    font-weight: bold;
    background-image: var(--degradado);
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    text-align: center;
    
}








@media screen and (max-width:700px), (max-height:500px) {
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        left: auto;
        width: min(15em, 100%);
        z-index: 100;
        border-left: 1px solid var(--hover-color);
        transition: right 0.3s ease-in-out;
    }

    #open-sidebar-button{
        position: fixed;
        top: 20px;
        right: 15px;
        z-index: 9;
        background-color: var(--nav-color);
        border-radius: 15px;
    }
        
    nav.show{
        right: 0;
    }

    nav.show ~ #overlay{
        opacity: 1; 
        visibility: visible;
    }

    nav ul{
        width: 100%;
        flex-direction: column;
        margin: 0; 
    }

    nav a {
         width: 100%;
    }
        
    nav a.active-link{
        border-bottom: unset;
    }

    .logo{
        display: none;
    }

    .logomobile {
        display: flex;
        position: absolute;
        white-space: nowrap;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2rem;
        font-weight: bold;
        background-image: var(--degradado2);
        -webkit-background-clip: text;
        background-clip: text; 
        color: transparent;
        opacity: 0;
        animation: slideToplobomobile 1s ease forwards 0.3s;
    }

    #open-sidebar-button{
        display: block;
        color: white;
    }

    
    #close-sidebar-button{
        display: block;
        color: white
    }

    .home-img{
        width: 370px;
        height: 370px;
    }


    .home-img .glowing-circle::after{
        width: 340px;
        height: 340px;
    }


    .glowing-circle .image{
        width: 340px;
        height: 340px;  
    }

    .image img {
        width: 320px;
        max-width: 320px;    
    }
    .about-me h2{
        margin-left: 50px;       
        margin-right: 50px;

    }
    .grid-container{
    grid-template-columns: 1fr;
    grid-template-rows: 500px 300px 300px 300px;
    justify-content: center;  
    margin: 0 2vw;  
    gap: 10vw 0;
    grid-template-areas: 
    "box-1"
    "box-2"
    "box-3"
    "box-4";} 
}

@media screen and (max-width:1053px) {

    .social-1{
    display: none;
    }
}

@media screen and (max-width:1600px) {
    .description{
    height: auto;
    margin-bottom: 150px;
}
}   

@media screen and (max-width:1370px) {
    .cursor-animation{
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;   
}

.card-image{
    min-height: 60vw;
    overflow: hidden; 
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.7);
}

}   


/*KEYFRAMES ANIMATION*/

@keyframes slideTop {
    0% {    
        opacity: 0;
        transform: translateY(90px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideToplobomobile {
    0% {
        opacity: 0;
        transform: translateY(90px) translateX(-50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0) translateX(-50%);
    }
}

@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-90px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(90px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(-90px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}


@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes breathingGlow {
  from {
    opacity: 0.7;
    transform: scale(0.96); /
  }
  to {
    opacity: 0.9; 
    transform: scale(1.03);
  }
}

@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}