@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
:root{
    --primary-color: #11121a;
    --secundary-color: #03dac6;
    --hover-color: #6200ea;
    --nav-color: #ff9800;
    --background-color: #977e7e;
    --border-radius: 8px;
    --transition-duration: 0.3s;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--primary-color)
}

nav {
    background-color: var(--nav-color);
}

nav ul {
    list-style: none;
    display: flex;    

}

nav li{
    display: flex;
}

nav .logo {
    margin-right: auto;
}

nav a {
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: 1rem 2rem;
    transition: background-color 500ms ease;


}

nav a:hover {
    background-color: var(--hover-color);
}

nav a.active-link{
    border-bottom: 2px solid var(--primary-color);
}

nav a.contact{
    background-color: var(--secundary-color);
    border-bottom: 2px solid var(--secundary-color);

}