@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css);
:root{
    --primary-color: #11121a;
    --secundary-color: #03dac6;
    --hover-color: #6200ea;
    --nav-color: #ff9800;
    --background-color: #977e7e;
    --border-radius: 8px;
    --transition-duration: 0.3s;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: var(--primary-color)
}

nav {
    background-color: var(--nav-color);
}

nav ul {
    list-style: none;
    display: flex;    

}

nav li{
    display: flex;
}

nav .logo {
    margin-right: auto;
}

nav a {
    display: flex;
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
    padding: 1rem 2rem;
    transition: background-color 500ms ease;


}

nav a:hover {
    background-color: var(--hover-color);
}

nav a.active-link{
    border-bottom: 2px solid var(--primary-color);
}

nav a.contact{
    background-color: var(--secundary-color);
    border-bottom: 2px solid var(--secundary-color);

}

#open-sidebar-button{
    display: none;
    background: none;
    border: none;
    padding: 1em;
    margin-left: auto;
    cursor: pointer;
}

#close-sidebar-button{
    background: none;
    border: none;
    padding: 1em;
    cursor: pointer;
    display: none;
}

#overlay{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    inset: 0;
    z-index: 9;
    opacity: 0;
    visibility: hidden; 
    transition: opacity 0.3s ease, visibility 0.3s;

}

@media screen and (max-width:700px) {
    nav {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100vh;
        width: min(15em, 100%);
        z-index: 10;
        border-left: 1px solid var(--hover-color);
        transition: right 0.3s ease-in-out;
    }
    
nav.show{
    right: 0;
}

nav.show ~ #overlay{
    opacity: 1; 
    visibility: visible;
}

    nav ul{
        width: 100%;
        flex-direction: column;
    }

    nav a {
        width: 100%;
    }
    nav a.active-link{
    border-bottom: unset;
}
.logo{
    display: none;
}

#open-sidebar-button{
    display: block;}
#close-sidebar-button{
    display: block;}

}