.circle{
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    cursor: none;
    pointer-events: none; 
    z-index: 999999;
}

body {
    cursor: none;
}

body.cursor-over-interactive {
    cursor: none; 
}

a, button, input[type="submit"], [data-cursor-interactive] {
    cursor: none !important; /* El !important es solo por si acaso otro estilo lo está sobrescribiendo */
}


/* Esta regla SOLO se activa si JS detectó Android/iOS */
html.es-movil .circle {
    display: none !important;
    visibility: hidden !important;
    opacity: 0 !important;
}

/* Opcional: Asegúrate de que los botones tengan cursor normal en estos casos */
html.es-movil a, 
html.es-movil button {
    cursor: pointer !important;
}

html.es-movil .home-img {
    background-color: red;
}