.circle{
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: black;
    position: fixed;
    cursor: none;
    pointer-events: none; 
    z-index: 999999;
}

body {
    cursor: none;
}

body.cursor-over-interactive {
    cursor: none; 
}

a, button, input[type="submit"], [data-cursor-interactive] {
    cursor: none !important; /* El !important es solo por si acaso otro estilo lo está sobrescribiendo */
}

/* Asegura que el cursor nativo esté activo y el cursor personalizado esté oculto
   en cualquier pantalla hasta un tamaño de tableta grande (ej. 1024px) */
@media (max-width: 1370px) {
    body {
        cursor: default !important; 
    }
    .circle {
        display: none !important;
    }

    /* C. Muestra el puntero (la mano) en los elementos interactivos */
    a, button, input[type="submit"], [data-cursor-interactive], [role="button"] {
        /* Sobrescribe la regla "cursor: none" para que aparezca la mano */
        cursor: pointer !important;
}

}